@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Try the TSense experience! The newest feeling detector for tweets!</p>
    <br />
    <p>TWEET IT!</p>
</div>
