@{
    ViewData["Title"] = "Twitter detector";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("Tweeted", "Home", FormMethod.Get))
{
    <div class="form-group mx-sm-3 mb-2">
        <label for="inputLink" class="sr-only">Link</label>
        @Html.TextBox("tweetLink")
        <button type="submit" class="btn btn-primary mb-2">Tweet It!</button>
    </div>
}
